<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HAMBURGUERIA AF</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="atualizar($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando">
    </ion-refresher-content>
  </ion-refresher> 

  <ion-card color="primary">
    <h2 style="text-align: center; font-weight: bold;">Os mais vendidos</h2>
  </ion-card>
  <ion-card>
    <img style="" src="assets/lanche5.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Double Bacon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Pão brioche, molho barbecue, 1 smash burguer 190gr, queijo cheddar, bacon, alface, tomate
    </ion-card-content>
    <ion-card-content style="color: green;">
      R$29,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img style="" src="assets/lanche4.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Combo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      1 Cheese Burguer com uma porção de fritas canoa de 100gr 
    </ion-card-content>
    <ion-card-content style="color: green;">
      R$26,99
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <h2 style="text-align: center; font-weight: bold;">*Promoção do dia*</h2>
  </ion-card>
  <ion-card>
    <img style="" src="assets/lanche2.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Cheese Salada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Pão especial da casa, maionese, 1 smash burguer 80gr, queijo cheddar, alface, tomate
    </ion-card-content>
    <ion-card-content style="color: green;">
      R$16,50
    </ion-card-content>
  </ion-card>

  <ion-card color="tertiary">
    <h2 style="text-align: center; font-weight: bold;">Smash Burguer</h2>
  </ion-card>
  <ion-card>
    <img style="" src="assets/lanche1.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Cheese Bacon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Pão brioche, maionese, 1 smash burguer 90gr, bacon, tomate
    </ion-card-content>
    <ion-card-content style="color: green;">
      R$18,99
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img style="" src="assets/lanche7.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Origin mk</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Pão especial da casa, molho especial, 1 smash burguer 190gr, queijo
    </ion-card-content>
    <ion-card-content style="color: green;">
      R$23,50
    </ion-card-content>
  </ion-card>

  <ion-card color="warning">
    <h2 style="text-align: center; font-weight: bold; color: #fff;">Fritas</h2>
  </ion-card>
  <ion-card>
    <img style="" src="assets/fritas1.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Fritas Simples</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      250gr de batata frita crocante
    </ion-card-content>
    <ion-card-content style="color: green;">
      R$14,00
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img style="" src="assets/fritas.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Fritas com Bacon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      250gr de batata frita, com bacon e muito queijo
    </ion-card-content>
    <ion-card-content style="color: green;">
      R$17,99
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <h2 style="text-align: center; font-weight: bold;">Bebidas</h2>
  </ion-card>
  <ion-card>
    <img style="" src="assets/coca.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Coca cola 350ml</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: green;">
      R$5,00
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img style="" src="assets/suco.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Suco de Laranja 350ml</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: green;">
      R$7,99
    </ion-card-content>
  </ion-card>

  <ion-card color="medium">
    <h2 style="text-align: center; font-weight: bold;">Sobremesas</h2>
  </ion-card>
  <ion-card>
    <img style="" src="assets/pg.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Petit Gateau</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: green;">
      R$15,00
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img style="" src="assets/mousse.jpg" />
    <ion-card-header>
      <ion-card-title style="font-weight: bold;">Mousse de Maracujá</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: green;">
      R$7,99
    </ion-card-content>
  </ion-card>

</ion-content>